<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-brightcove-player" version="0.1.0">
    <name>CordovaBrightcovePlayer</name>
    <description>Brightcove video player cordova plugin</description>
    <author>Vincent Fu</author>
    <license>Apache 2.0</license>
    <keywords>cordova,brightcove,videoplayer,player</keywords>
    <js-module src="www/videoPlayer.js" name="videoPlayer">
        <clobbers target="videoPlayer" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BrightcovePlayer">
                <param name="ios-package" value="BrightcovePlayer" onload="true"/>
            </feature>
        </config-file>

        <header-file src="src/ios/bridging-header.h" />

        <source-file src="src/ios/BrightcovePlayer.swift" />
        <source-file src="src/ios/PlayerViewController.swift" />
        <source-file src="src/ios/BrightcovePlayer.storyboard" />

        <framework src="src/ios/BrightcovePlayerSDK.framework" custom="true"/>
        <framework src="AVFoundation.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="GLKit.framework" />
        <framework src="MediaPlayer.framework" />
        <framework src="MediaAccessibility.framework" />
        <framework src="SafariServices.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="WebKit.framework" />
    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BrightcovePlayer">
                <param name="android-package" value="com.brightcove.player.BrightcovePlayer" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <activity
                android:name="com.brightcove.player.BrightcoveActivity"
                android:configChanges="orientation|screenSize"
                android:launchMode="singleTask"
                android:label="@string/app_name" >
            </activity>
        </config-file>

        <source-file src="src/android/BrightcovePlayer.java" target-dir="src/com/brightcove/player" />
        <source-file src="src/android/BrightcoveActivity.java" target-dir="src/com/brightcove/player" />
        <source-file src="src/android/player.xml" target-dir="res/layout/" />

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

        <resource-file src="src/android/lib/android-sdk-6.2.3.aar" target="aar/com/brightcove/player/android-sdk-6.2.3.aar" />

        <resource-file src="src/android/lib/android-exoplayer2-player-6.2.3.aar" target="aar/com/brightcove/player/android-exoplayer2-player-6.2.3.aar" />

        <resource-file src="src/android/lib/android-ima-plugin-6.2.3.aar" target="aar/com/brightcove/player/android-ima-plugin-6.2.3.aar" />

    </platform>
</plugin>
